@using cse325_team7_project.Api.DTOs
@using cse325_team7_project.Domain.Enums
@inject HttpClient HttpClient
@inject NavigationManager Navigation

@*
    Displays a loading message if the movie data is not yet loaded.
    Otherwise, renders a card with the movie's thumbnail and title,
    wrapped in a NavLink to the movie's detail page.
*@
@if (movie == null)
{
    <p>Loading...</p>
}
else
{
    <NavLink class="nav-link" href="@($"/movies/{movie.Id}")" aria-label="@($"View details for {movie.Title}")">     
       <div class="movie-card">
            <img class="movie-image" src="@movie.ThumbnailImage" alt="@movie.Title" />
            <div class="movie-title">@movie.Title</div>
        </div>
    </NavLink>
}

@code {
    /// <summary>
    /// Gets or sets the movie data to display.
    /// </summary>
    /// <value>
    /// A <see cref="MovieResponseDto"/> containing the movie's details.
    /// </value>
    [Parameter]
    public MovieResponseDto? movie { get; set; }

}